.hero {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    background: linear-gradient(90deg, rgb(188, 117, 255) 0%, rgb(132, 0, 132) 100%);
    color: transparent;
    background-clip: text;
}